nav{
    display:block;
}
#navbar{
    display: flex;
    flex-direction: column; 
    padding:15px;
    position: fixed;
    min-width: 150px;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);

    background-color: aqua;
}
.main-section{
    background-color: aquamarine;
    width: 80.5%;
    margin-right: -10px;
    margin-left: auto ;
    margin-top:0;
    padding: 15px;

}
.main-section header{
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large
}
pre{
    border-radius: 25px;
    width: 30vw;
    position: relative;
    background-color:darkgrey;
}
code{
    position: relative;
    left:-115px;
    width: 30vw;
}
@media(max-width: 769px){
    #navbar{
        display: inline-block;
        width:50px;
        height: 100%;
    }
    .main-section{
        padding: 10px;
        width:auto;
        overflow-x: hidden;
        margin-left: 23vw;
        margin-right: auto;

        
    }

}